# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*

# Build outputs
dist/
build/
out/

# Cache / dev stuff
.cache/
.next/
.vite/
coverage/
.DS_Store

# IDEs/editors
.vscode/
.idea/
*.swp

# System files
Thumbs.db
